<%# encoding:UTF-8
%><%
case @style

when 'qanda'
%><div<%= @id && %( id="#{@id}") %> class="<%= [ 'qlist', 'qanda', role ].compact * ' ' %>"><%
	if title? %>
	<div class="title"><%= title %></div><%
	end %>
	<ol><%
		items.each { |questions, answer| %>
		<li><%
			[*questions].each { |question| %>
			<p><em><%= question.text %></em></p><%
			}
			unless answer.nil?
			if answer.text? %>
			<p><%= answer.text %></p><%
			end
			if answer.blocks? %>
<%= answer.content.gsub(/^/, "\t" * 3) %><%
			end
			end %>
		</li><%
		} %>
	</ol>
</div><%

when 'horizontal'
%><div<%= @id && %( id="#{@id}") %> class="<%= [ 'hdlist', role ].compact * ' ' %>"><%
	if title? %>
	<div class="title"><%= title %></div><%
	end %>
	<table><%
		if (attr? :labelwidth) || (attr? :itemwidth) %>
		<colgroup>
			<col<%= (attr? :labelwidth) ? %( style="width: #{(attr :labelwidth).chomp '%'}%;") : nil %>/>
			<col<%= (attr? :itemwidth) ? %( style="width: #{(attr :itemwidth).chomp '%'}%;") : nil %>/>
		</colgroup><%
		end
		items.each { |terms, dd| %>
		<tr>
			<td class="hdlist1<%= (option? :strong) ? ' strong' : nil %>"><%
				terms = [*terms]
				last_term = terms.last
				terms.each { |dt| %>
<%= dt.text.gsub(/^/, "\t" * 4) %><%
				if dt != last_term %>
				<br/><%
				end
				} %>
			</td>
			<td class="hdlist2"><%
				unless dd.nil?
				if dd.text? %>
				<p><%= dd.text %></p><%
				end
				if dd.blocks? %>
<%= dd.content.gsub(/^/, "\t" * 4) %><%
				end
				end %>
			</td>
		</tr><%
		} %>
	</table>
</div><%

else # TODO
%><div<%= @id && %( id="#{@id}") %> class="<%= ['dlist',@style,role].compact * ' ' %>"><%
  if title? %>
<div class="title"><%= title %></div><%
  end %>
<dl><%
  items.each do |terms, dd|
    [*terms].each do |dt| %>
<dt<%= !@style ? ' class="hdlist1"' : nil %>><%= dt.text %></dt><%
    end
    unless dd.nil? %>
<dd><%
      if dd.text? %>
<p><%= dd.text %></p><%
      end
      if dd.blocks? %>
<%= dd.content %><%
      end %>
</dd><%
    end
  end %>
</dl>
</div><%
end %>
