<%# encoding:UTF-8
%><div<%= @id && %( id="#{@id}") %> class="<%= [ 'imageblock', @style, role ].compact * ' ' %>"><%
	if attr? :link %>
	<a class="image" href="<%= attr :link %>"><%
	end %>
	<ac:image<% if title? %>
			ac:title="<%= captioned_title %>"<%
			end; if attr?(:border) %>
			ac:border="true"<%
			end; if attr?(:alt) %>
			ac:alt="<%= attr :alt %>"<%
			end; if attr?(:width) %>
			ac:width="<%= attr :width %>"<%
			elsif attr?(:height) %>
			ac:height="<%= attr :height %>"<%
			end %>>
		<ri:attachment ri:filename="<%= File.basename(attr(:target)) %>"/>
	</ac:image><%
	if attr? :link %>
	</a><%
	end %>
</div>
